$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;

$error-background: #f2dede;
$error-border: #ebccd1;
$error-color: #a94442;

$warning-background: #fcf8e3;
$warning-border: #faebcc;
$warning-color: #8a6d3b;

$small-screen: 768px;

.failure {
  background-color: $error-background;
  border: $error-border solid 1px;
  color: $error-color;
  font-family: $font-family;
  font-size: 16px;
  padding: 15px;
}

.failure a {
  color: $error-color;
}

.warning {
  background-color: $warning-background;
  border: $warning-border solid 1px;
  color: $warning-color;
  font-family: $font-family;
  font-size: 16px;
  padding: 15px;
}

.warning a {
  color: $warning-color;
}

.event {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.2);
  color: #5c5f67;
  font-family: $font-family;
  font-size: 16px;
  margin: 8px;
  max-width: 900px;
  overflow: hidden;

  & + & {
    margin-top: 16px;
  }
}

.eventHeader {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.eventLeft {
  flex-grow: 1;
  flex-basis: 55%;
}

.eventRight {
  flex-basis: 45%;
  flex-grow: 1;
  min-width: 300px;
}

.eventFooter {
  border-top: 1px solid #dddddd;
  background-color: #f5f5f5;
  min-height: 38px;
  padding: 10px 15px;
}

.eventFooter:after {
  clear: both;
  content: "";
  display: table;
}

.eventLeftLink,
.eventLeftPlaceholder {
  border-top-left-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 240px;
  position: relative;
  text-decoration: none;
}

.eventName {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 15px;
  color: white;
  font-weight: 200;
  left: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.ribbon {
  color: white;
  display: block;
  font-weight: 200;
  height: 88px;
  left: -3px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: -3px;
}

.ribbonText {
  background-color: #79b17d;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 12px;
  left: -60px;
  padding: 7px 0 7px 10px;
  position: relative;
  top: 20px;
  transform: rotate(-45deg);
  width: 155px;
}

.live {
  background-color: #ff0000;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  opacity: 0.9;
  padding: 3px 9px;
  position: absolute;
  right: 8px;
  text-decoration: none;
  top: 8px;
}

.live svg {
  margin: -2px 1px 1px 0;
  width: 8px;
  height: 8px;
}

.live svg path {
  fill: white;
}

.eventRightPlaceholder {
  background-color: rgba(0, 0, 0, 0.15);
  height: 1.5em;
  margin: 15px;
}

.eventRight {
  width: 100%;
}

.eventRightCancelled {
  opacity: 0.55;
}

.eventRight dl {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px;
  width: 100%;
}

.eventRight dt {
  flex-basis: 25%;
}

.eventRight dd {
  flex-basis: 75%;
  font-weight: 200;
  margin: 0 0 20px 0;
}

.eventRight a {
  color: #5c5f67;
  text-decoration: none;
}

.rsvpPreview {
  color: #888888;
  line-height: 38px;
}

.rsvpPreview span:first-child {
  display: inline-block;
  margin-right: 20px;
}

.rsvpPreview span:last-child {
  margin-left: 5px;
}

.rsvpPreviewList a,
.rsvpPreviewList span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: inline-block;
  height: 30px;
  margin-left: -10px;
  vertical-align: middle;
  width: 30px;
}

.moreInfo {
  background-color: #79b17d;
  border-radius: 5px;
  color: white;
  flex-grow: 1;
  float: right;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
}
